@import "breakpoints";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.invalid span {
  color: red;
}

.invalid .login__input {
  border: 1px solid red;
}

.mt-75 {
  margin-top: 75px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#loading-full,
#loading {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  transform: translateY(0px) !important;
}

.box.active p {
  opacity: 0;
}

.shadow {
  transition: box-shadow 0.3s ease;
}

#sidebar {
  width: 280px;
  padding: 16px;
  background-color: #ffffff;
  z-index: 3;
  transition: all 0.3s ease;
  box-shadow: 0 -5px 1rem #afafaf;
}

#sidebar.active {
  width: 80px;
}

#sidebar .home {
  position: relative;
}

#sidebar.active a,
#sidebar.active .home .d-flex {
  justify-content: center;
}

#sidebar .home .d-flex {
  height: 48px;
}

#sidebar .home img {
  width: 40px;
}

#sidebar .home .fa-solid {
  position: absolute;
  right: -30px;
  top: 4pc;
  color: #ffffff;
  background-color: #29a9ef;
  padding: 9px;
  border-radius: 50%;
  z-index: 10000;
}

.home .fa-solid:hover {
  cursor: pointer;
  opacity: 0.9;
}

.tittle-sidebar {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

#sidebar.active .home .tittle-sidebar {
  display: none;
}

#sidebar a {
  padding: 0;
  width: 100%;
  padding-left: 18px;
  color: #444444;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 5px;
  height: 50px;
  list-style: none;
  margin-top: 10px;
}

#sidebar.active .end-box i,
#sidebar.active a i {
  margin: 0;
}

#sidebar a i {
  margin-right: 16px;
}

#sidebar .menu-bar a.active {
  background: #00d4ff;
  background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(41, 169, 239, 1) 80%, rgba(17, 147, 212, 1) 100%);
  color: #ffffff;
  text-decoration: none;
}

#sidebar .end-box a,
#sidebar .menu-bar a {
  transition: all 0.4s ease;
}

#sidebar .menu-bar a:not(.active):hover {
  background-color: #caeaff;
  color: #444444;
  text-decoration: none;
}

#sidebar .end-box a:not(.nav-profile):hover {
  background: #ff1c60;
  background: linear-gradient(90deg, rgba(255, 28, 96, 1) 0%, rgba(255, 28, 96, 1) 31%, rgba(255, 28, 62, 1) 71%, rgb(255, 60, 60) 100%);
  color: #fff;
  text-decoration: none;
}

#sidebar .end-box img {
  margin-right: 8px;
}

#sidebar.active .end-box img {
  margin-right: 0;
}

#sidebar .nav-profile.active,
#sidebar .nav-profile:hover {
  background-color: #d4d0d1;
  color: #fff;
  text-decoration: none;
}

#sidebar .nav-profile img {
  width: 35px;
  border-radius: 50%;
}

.dash {
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

#sidebar .box {
  display: flex;
  align-items: center;
}

#sidebar .box:not(.avatar) {
  margin-left: 16px;
}

#sidebar .box.avatar {
  margin-left: 5px;
}

#sidebar .box.redirect {
  margin-left: 4px;
}

#sidebar.active .box {
  margin-left: 0;
}

#sidebar .home .tittle-sidebar,
#sidebar .box .text {
  white-space: nowrap;
  transition: all 0.2s ease;
}

#sidebar.active .box .text {
  display: none;
}

#sidebar.active .box i {
  margin-right: 0;
  transition: all 0.5s ease;
}

#sidebar .show-sidebar #btn-push-sidebar {
  background: #6c757d;
  background: linear-gradient(90deg, rgba(108, 117, 125, 1) 0%, rgba(111, 122, 128, 1) 20%, rgba(79, 79, 79, 1) 100%);
  color: #ffffff;
  padding: 0;
  width: 100%;
  padding-left: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 50px;
  list-style: none;
  margin-top: 10px;
  transition: all 0.5s ease;
}

#sidebar.active .show-sidebar #btn-push-sidebar {
  background: #6c757d;
  transition: all 0.5s ease;
}

#sidebar .show-sidebar #btn-push-sidebar:hover {
  cursor: pointer;
}

#sidebar .show-sidebar i {
  margin-left: 6px;
}

#sidebar.active .show-sidebar i {
  margin-left: 0;
}

#side-bar-glass.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  display: none;
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
}

#all-content {
  display: flex;
  transform: translateY(0);
  transition: all 0.5s ease;
}

#all-content.translate {
  transform: translateY(-30px);
}

#header img {
  height: 40px;
  margin-left: 20px;
}

#header .nav-bar-icon {
  height: 100%;
  width: 55px;
}

#header .nav-bar-icon:hover {
  color: #ffffff;
  background-color: #7b7b7b;
}

#nav-bar {
  position: fixed;
  display: none;
  transition: all 0.5s ease;
}

#nav-bar.active {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  z-index: 1;
  transition: all 0.5s ease;
}

#nav-bar a {
  display: block;
  width: 100%;
  padding: 14px 20px;
  text-decoration: none;
  color: #434343;
  border-bottom: 1px solid #ccc;
}

#nav-bar .avatar img {
  width: 25px;
  margin-right: 8px;
  border-radius: 50%;
}

#nav-bar a:hover {
  background-color: #d4d0d1;
}

#sidebar .end-box,
#all-content .big-content {
  width: 100%;
}

#loading h2,
#loading-full h2 {
  color: #29a9ef;
}

#loading .spinner-border,
#loading-full .spinner-border {
  width: 3rem;
  height: 3rem;
  color: #29a9ef;
}

#loading #tittle-loading,
#loading-full #tittle-loading {
  font-family: "Lexend", sans-serif;
  color: #29a9ef;
}

.school-info {
  position: relative;
  height: 20pc;
  display: flex;
}

#footer {
  padding: 2pc;
}

.footer-text {
  font-size: 16px;
}

#glass.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

@include laptop {
  #master {
    margin-left: 80px;
  }

  #sidebar {
    position: absolute;
    height: 100%;
  }
}

@include mobile-all-landscape {
  #sidebar {
    padding: 10px;
    position: absolute;
  }

  #sidebar.active {
    width: 65px;
  }

  .school-info {
    display: none;
  }

  #loading .spinner-border,
  #loading-full .spinner-border {
    width: 2rem;
    height: 2rem;
    font-size: 11px;
  }

  #loading h2,
  #loading-full h2 {
    font-size: 22px;
  }

  #loading-full {
    transform: translateY(30px) !important;
  }
}

@include respond(phone-sm) {
  .school-info,
  #sidebar {
    display: none;
  }

  .tittle-sidebar {
    font-size: 10px;
  }

  .tittle-sidebar .name {
    font-size: 14px;
  }

  #header {
    display: block;
    height: 50px;
  }

  #header .nav-img img {
    height: 35px;
    margin-left: 10px;
  }

  #nav-bar.active,
  #all-content {
    display: block;
  }

  #all-content .big-content {
    margin-top: 50px;
  }

  #all-content {
    transform: unset !important;
  }

  #loading h2,
  #loading-full h2 {
    font-size: 22px;
  }

  #loading .spinner-border,
  #loading-full .spinner-border {
    width: 35px;
    height: 35px;
    font-size: 14px;
  }

  #loading #tittle-loading,
  #loading-full #tittle-loading {
    font-size: 25px;
  }

  #footer {
    padding: 1pc 0;
    display: flex;
    justify-content: center;
  }

  .footer-text {
    margin-top: 10px;
    width: max-content;
    font-size: 11px;
  }
}
