* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.invalid span {
  color: red;
}

.invalid .login__input {
  border: 1px solid red;
}

.mt-75 {
  margin-top: 75px;
}

// COMMON

.d-flex.me img {
  width: 2.4pc;
  height: 2.4pc;
}

#header {
  font-family: Lato;
  display: flex;
  align-items: stretch;
  position: fixed;
  background-color: #fff;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.navbar-brands img {
  width: 45%;
}

.navbar-brands img:hover {
  opacity: 0.8;
  cursor: pointer;
}

.nav-profile {
  position: absolute;
  right: 0;
}

.nav-bar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#nav {
  display: inline-block;
}

#nav li {
  display: inline-block;
  position: relative;
}

#nav > li > a {
  color: #677381;
  padding: 0 24px;
}

#nav li:hover .sudnav {
  display: block;
  border-radius: 10px;
}

#nav li a {
  color: rgb(121, 121, 121);
  line-height: 64px;
  text-decoration: none;
  display: inline-block;
}

#nav .nav-arrow-down {
  font-size: 12px;
}

#nav .sudnav {
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#nav > li:hover > a {
  color: #29a9ef;
}

#nav .sudnav li:hover {
  color: #000;
  background-color: #ccc;
}

#nav .sudnav li a {
  color: #000;
}

#nav .sudnav li {
  color: #fff;
  padding: 0 24px;
  text-decoration: none;
  line-height: 46px;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#loading-full,
#loading {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
}

.shadow {
  transition: box-shadow 0.3s ease;
}
