$breakpoints: (
  phone-sm: 430px,
  phone: 767px,
  tablet: 768px,
  tablet-lg: 935px,
  desktop: 1400px,
  screens-lg: 1920px
);

@mixin respond($bp) {
  @if map-has-key($breakpoints, $bp) {
    $value: map-get($breakpoints, $bp);

    //Build media query
    @media (max-width: $value) {
      @content;
    }
  }
}

@mixin mobile-landscape {
  @media only screen and (max-width: 935px) and (orientation: landscape) {
    @content;
  }
}
