@import "breakpoints";

.card .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .img-box img {
  width: 14pc;
  height: 14pc;
}

@include mobile-all-landscape {
  #header {
    display: none;
  }

  #master {
    padding: 1px;
  }
}

@include respond(phone-sm) {
  h4 {
    font-size: 20px;
  }

  .card .img-box img {
    width: 11pc;
    height: 11pc;
  }
}
