@import "breakpoints";

.combination-list {
  padding: 10px 30px;
}

.modal-body {
  height: 70pc;
}

.modal-body::-webkit-scrollbar {
  display: none;
}

.container-start {
  height: 30pc;
  padding-top: 40px;
  background-color: #faf1e2;
}

.container-start > p {
  font-size: 20px;
}

.container-start .content-box {
  padding: 80px;
  width: 47pc;
}

.container-start .img-start img {
  height: 100%;
}

.introduce-box {
  justify-content: center;
}

.introduce-box p {
  font-size: 20px;
}

.container-center img {
  width: 30pc;
}

.container-center .content-box {
  padding: 5pc;
  width: 44pc;
}

.container-center .content-1,
.container-center .content-2 {
  justify-content: center;
}

.container-center .content-2 {
  margin-top: -70px;
}

.container-school {
  padding: 17px;
  background-color: #b0d7ff;
}

.container-school > h4 {
  font-size: 24px;
}

.content-box.des p {
  font-size: 20px;
}

.image-stack {
  width: 530px;
  height: 500px;
  margin-left: 24px;
  align-items: center;
}

.image-stack img {
  max-width: 80%;
  max-height: 60%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.image-stack div img {
  max-width: 90%;
  max-height: 90%;
  margin: 20px;
}

.image-stack img:hover {
  transform: scale(1.55);
}

.container-school .content-box {
  width: 62pc;
}

.img-box .first {
  margin-right: 24px;
}

.container-school .box-2 img {
  width: 35pc;
}

.container-school .container-body {
  align-items: center;
  justify-content: center;
}

.container-school .container-body .content-box {
  width: 40pc;
  margin-right: 24px;
}

.container-end {
  background-color: #faf1e2;
}

.container-end img {
  width: 31pc;
  border-radius: 12px;
}

.container-end .content-box {
  width: 40pc;
  margin-right: 10pc;
}

.container-end img,
.container-end .content-box {
  margin-top: 5pc;
  margin-bottom: 5pc;
}

.login-form {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 8px 16px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  min-height: 250px;
}

::placeholder {
  color: #777;
  font-size: 1.063rem;
}

.link {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.link .login {
  border: none;
  outline: none;
  cursor: pointer;
  background: #1877f2;
  padding: 15px 0;
  border-radius: 6px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  transition: 0.2s ease;
}

.link .login:hover {
  background: #0d65d9;
}

.login-form a {
  text-decoration: none;
}

.link .forgot {
  color: #1877f2;
  font-size: 0.875rem;
}

.link .forgot:hover {
  text-decoration: underline;
}

hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 20px;
  margin-top: 20px;
}

.tabs {
  display: flex;
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
}
.tab {
  flex: 1;
  padding: 10px;
  cursor: pointer;
  background: #e4e6eb;
  border-radius: 5px 5px 0 0;
  text-align: center;
}
.tab.active {
  background: #1877f2;
  color: white;
}
.form-container {
  display: none;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}
.form-container.active {
  display: flex;
}

.form-group {
  margin: 10px 0;
}

.register-form {
  margin-bottom: 10px;
}

button.form {
  width: 100%;
  padding: 10px;
  background: #1877f2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto;
}
button.form:hover {
  background: #459cf8;
}

.modal-header,
.modal-bodyy,
.modal-footer {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

#glass.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

@keyframes brul {
  from {
    backdrop-filter: blur(0);
  }
  to {
    backdrop-filter: blur(10px);
  }
}

@include mobile-all-landscape {
  #header {
    display: block;
  }

  #header .nav-img img {
    height: 46px;
    margin-left: 10px;
  }

  .tittle-sidebar {
    font-size: 13px;
  }

  .tittle-sidebar .name {
    font-size: 16px;
  }

  .container-start {
    height: auto;
    padding-top: 30px;
    margin-top: 50px;
  }

  .container-start > p {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .container-start .content-box {
    padding: 20px;
    width: 100%;
  }

  .container-start .img-start img {
    height: 8pc;
  }

  .introduce-box {
    -webkit-flex-direction: column !important;
    flex-direction: column !important;
    display: flex !important;
    text-align: center;
  }

  .introduce-box h2 {
    font-size: 18px;
  }

  .introduce-box p {
    font-size: 15px;
  }

  .container-center img {
    width: 10pc;
    height: 9pc;
  }

  .container-center .content-box {
    padding: 2pc;
    width: 31pc;
    margin: 0 13px;
  }

  .container-center h2 {
    font-size: 18px;
  }

  .container-center p {
    font-size: 15px;
    text-align: justify;
  }

  .container-center .content-1,
  .container-center .content-2 {
    margin: 0 3pc;
  }

  .container-center .content-1 img {
    margin-top: 15px;
  }

  .container-center .content-2 {
    align-items: center;
  }

  .container-center img {
    height: 14pc;
    width: 17pc;
  }

  .container-school > h4 {
    font-size: 18px;
  }

  .container-school .content-box {
    width: 100%;
    text-align: justify;
    padding: 0 20px;
  }

  .img-box {
    flex-direction: column;
  }

  .img-box .first {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .container-school .container-body {
    margin-top: 30px;
    flex-direction: column;
  }

  .container-school .box-2 img {
    width: 27pc;
  }

  .image-stack img:hover {
    transform: scale(1.25);
  }

  .container-end {
    padding: 2pc;
  }

  .container-end img,
  .container-end .content-box {
    margin-top: 0;
    margin-bottom: 0;
  }

  .container-end .content-box {
    margin-right: 2pc;
  }

  .container-end img {
    width: 18pc;
  }

  .container-end .content-box p {
    text-align: justify;
  }

  .box-login {
    overflow-y: scroll;
    height: 10pc;
  }
}

@include respond(desktop) {
  .container-start .img-start img {
    height: 88%;
  }
}

@include respond(phone-sm) {
  .container-start {
    height: auto;
    padding-top: 30px;
    margin-top: 50px;
  }

  .container-start > p {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .container-start .content-box {
    padding: 20px;
    width: 100%;
  }

  .container-start .img-start img {
    height: 8pc;
  }

  .introduce-box {
    flex-direction: column;
    text-align: center;
  }

  .introduce-box h2 {
    font-size: 12px;
  }

  .introduce-box p {
    font-size: 10px;
  }

  .container-center img {
    width: 10pc;
    height: 9pc;
  }

  .container-center .content-box {
    padding: 1pc;
    width: 13pc;
    margin: 0 13px;
  }

  .container-center h2 {
    font-size: 12px;
  }

  .container-center p {
    font-size: 10px;
    text-align: justify;
  }

  .container-center .content-1 img {
    margin-top: 15px;
  }

  .container-center .content-2 {
    align-items: center;
  }

  .container-school > h4 {
    font-size: 18px;
  }

  .content-box.des p {
    font-size: 10px;
    text-align: justify;
  }

  .image-stack {
    width: 275px;
    margin-left: 5px;
    align-items: start;
    height: auto;
  }

  .image-stack img {
    max-width: 40%;
  }

  .image-stack div img {
    margin: 5px;
  }

  .container-school .content-box {
    width: 100%;
  }

  .container-school .box-2 img {
    width: 9pc;
  }

  .container-school .container-body {
    flex-direction: column;
    margin-top: 24px;
  }

  .container-school .container-body .content-box {
    width: auto;
    margin-right: 0;
  }

  .container-school .container-body h4 {
    font-size: 13px;
  }

  .container-school .container-body p {
    font-size: 12px;
    text-align: justify;
  }

  .container-school .container-body ul {
    font-size: 10px;
    text-align: justify;
    padding-left: 16px;
  }

  .container-end {
    padding: 0 1pc;
  }

  .container-end h4 {
    font-size: 14px;
  }

  .container-end p {
    font-size: 10px;
    text-align: justify;
  }

  .container-end img {
    width: 10pc;
  }

  .container-end .content-box {
    margin-right: 20px;
  }

  .container-end img,
  .container-end .content-box {
    margin-top: 2pc;
    margin-bottom: 4pc;
  }

  #modal-login-btn {
    font-size: 8px;
    text-align: justify;
    padding: 5px;
    margin-bottom: 2pc;
  }

  .modal-container {
    padding: 0 40px;
  }
}
