@import "breakpoints";

.box-radius {
  @include respond(phone-sm) {
    margin: 0;
  }
}

#master {
  padding: 25px;
  background-color: #29a9ef;
  @include respond(phone-sm) {
    padding: 45px 16px;
  }
}

#all-content {
  height: 100%;
}

.user-name {
  margin: 0;
  font-weight: 600;
}

img.profile-img-user {
  width: 12pc;
  @include respond(phone-sm) {
    width: 8pc;
  }
}

.info-sub p {
  font-size: 18px;
}

.profile-user {
  align-self: center;
  padding-bottom: 1pc;
}

.info.profile-dad-name {
  margin: 0 3rem;
  @include respond(phone-sm) {
    margin: 0;
  }
}

.profile-dad-name label {
  font-weight: 600;
}

.card-body-profile {
  width: 80%;
  @include respond(phone-sm) {
    width: auto;
  }
}

.btn-edit {
  justify-content: end;
  @include respond(phone-sm) {
    justify-content: center;
  }
}

.btn-edit a {
  @include respond(phone-sm) {
    font-size: 14px;
  }
}
