@import "breakpoints";

.box-radius {
  @include respond(phone-sm) {
    margin: 0;
    padding: 15px;
  }
}

.card-body > .container {
  @include respond(phone-sm) {
    padding: 0;
  }
}

legend {
  text-align: center;
  @include respond(phone-sm) {
    font-size: 16px;
  }
}

label {
  @include respond(phone-sm) {
    font-size: 15px;
    width: max-content;
    margin-bottom: 5px;
  }
}

.full-name {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  @include respond(phone-sm) {
    flex-basis: auto;
  }
}

h4 {
  width: max-content;
  text-transform: capitalize;
  @include respond(phone-sm) {
    width: 100%;
    font-weight: 600;
    font-size: 20px;
  }
}

.d-flex.box {
  @include respond(phone-sm) {
    flex-direction: column;
  }
}

#resultImage {
  max-width: 200px;
  @include respond(phone-sm) {
    max-width: 135px;
    margin: 0;
  }
}

.offical-avatar {
  align-items: start;
  @include respond(phone-sm) {
    align-items: center;
    height: 200px;
  }
}

.offical-info {
  width: 100%;
  @include respond(phone-sm) {
  }
}

.offical-info .secondary-school,
.offical-info .place-birth,
.offical-info .current-place {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  @include respond(phone-sm) {
    flex-basis: auto;
    padding: 0 15px;
  }
}

.offical-info .current-place b {
  @include respond(phone-sm) {
    width: max-content;
  }
}

b {
  @include respond(phone-sm) {
    font-size: 16px;
    margin-bottom: 6px;
    width: 100%;
  }
}

.col.combination-1,
.col.combination-2 {
  @include respond(phone-sm) {
    margin-bottom: 10px;
  }
}

#info-parent {
  justify-content: space-between;
  @include respond(phone-sm) {
    justify-content: center;
  }
}

#info-parent .col {
  @include respond(phone-sm) {
    margin-bottom: 10px;
  }
}

#info-parent label {
  margin-right: 24px;
  @include respond(phone-sm) {
    margin-right: 0;
  }
}

#info-parent .detail {
  @include respond(phone-sm) {
    flex-direction: column;
    text-align: center;
  }
}

#info-parent .detail b {
  text-transform: capitalize;
  @include respond(phone-sm) {
    width: max-content;
  }
}

#info-parent .job-parent {
  margin: 0 auto;
}

#poin-offical {
  margin-top: 24px;
  @include respond(phone-sm) {
    margin-top: 10px;
    padding: 0;
  }
}

#poin-offical > p {
  @include respond(phone-sm) {
    margin-bottom: 5px;
  }
}

.poin-box {
  justify-content: space-around;
  text-align: center;
  @include respond(phone-sm) {
  }
}

.poin-box .poin {
  font-size: 20px;
  @include respond(phone-sm) {
    font-size: 12px;
  }
}

label.table {
  @include respond(phone-sm) {
    padding: 0;
  }
}

.table-conduct,
.table-avg-poin {
  @include respond(phone-sm) {
    overflow-x: scroll;
  }
}

.table-avg-poin .subject {
  padding: 0 15px;
  @include respond(phone-sm) {
  }
}

.table-conduct .class {
  padding: 0 20px;
  @include respond(phone-sm) {
  }
}

.table-conduct .type-graduate {
  padding: 0 15px;
  @include respond(phone-sm) {
    padding: 0 5px;
  }
}

tr {
  @include respond(phone-sm) {
    font-size: 10px;
  }
}

table.table-points {
  @include respond(phone-sm) {
    width: max-content;
  }
}

.combination-1-rep {
  @include respond(phone-sm) {
    display: none;
  }
}

.combination-1 {
  display: none;
  @include respond(phone-sm) {
    display: block;
  }
}

.btn-feature a,
.btn-feature button {
  @include respond(phone-sm) {
    font-size: 12px;
  }
}
