.invalid span {
  color: red; }

.invalid .login__input {
  border: 1px solid red; }

.d-flex.me img {
  width: 2.4pc;
  height: 2.4pc; }

#header {
  font-family: Lato;
  display: flex;
  align-items: stretch;
  position: fixed;
  background-color: #fff;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1; }

.navbar-brands img {
  width: 45%; }

.navbar-brands img:hover {
  opacity: 0.8;
  cursor: pointer; }

#nav {
  display: inline-block; }

#nav li {
  display: inline-block;
  position: relative; }

#nav > li > a {
  color: #677381;
  padding: 0 24px; }

#nav li:hover .sudnav {
  display: block; }

#nav li a {
  color: #797979;
  line-height: 64px;
  text-decoration: none;
  display: inline-block; }

#nav .nav-arrow-down {
  font-size: 12px; }

#nav .sudnav {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }

#nav > li:hover > a {
  color: #29a9ef; }

#nav .sudnav li:hover {
  color: #000;
  background-color: #ccc; }

#nav .sudnav li a {
  color: #000; }

#nav .sudnav li {
  color: #fff;
  padding: 0 24px;
  text-decoration: none;
  line-height: 46px;
  display: block; }
