.forgot-password p {
  font-size: 25px;
  display: flex;
  align-items: center; }

.forgot-password p i {
  color: #3cd244; }

.forgot-password img {
  width: 30px;
  height: 30px; }

@media (max-width: 440px) {
  #all-content {
    width: 100%; }
  #master {
    height: 100% !important; }
  #title-not-found {
    font-size: 21px; }
  body {
    align-items: start !important; }
  .content.forgot-password {
    padding: 25px; }
  .content.forgot-password h3 {
    font-size: 20px; } }
