#footer {
  padding: 2pc; }

.combination-list {
  padding: 10px 30px; }

.modal-body {
  height: 70pc; }

.modal-body::-webkit-scrollbar {
  display: none; }

.container-start {
  height: 30pc;
  padding-top: 40px;
  background-color: #faf1e2; }
  @media (max-width: 430px) {
    .container-start {
      height: auto;
      padding-top: 30px;
      margin-top: 50px; } }

.container-start > p {
  font-size: 20px; }
  @media (max-width: 430px) {
    .container-start > p {
      font-size: 18px;
      margin-bottom: 10px; } }

.container-start .content-box {
  padding: 80px;
  width: 47pc; }
  @media (max-width: 430px) {
    .container-start .content-box {
      padding: 20px;
      width: 100%; } }

.container-start .img-start img {
  height: 100%; }
  @media (max-width: 1400px) {
    .container-start .img-start img {
      height: 88%; } }
  @media (max-width: 430px) {
    .container-start .img-start img {
      height: 8pc; } }

.introduce-box {
  justify-content: center; }
  @media (max-width: 430px) {
    .introduce-box {
      flex-direction: column;
      text-align: center; } }

@media (max-width: 430px) {
  .introduce-box h2 {
    font-size: 12px; } }

.introduce-box p {
  font-size: 20px; }
  @media (max-width: 430px) {
    .introduce-box p {
      font-size: 10px; } }

.container-center img {
  width: 30pc; }
  @media (max-width: 430px) {
    .container-center img {
      width: 10pc;
      height: 9pc; } }

.container-center .content-box {
  padding: 5pc;
  width: 44pc; }
  @media (max-width: 430px) {
    .container-center .content-box {
      padding: 2pc;
      width: 13pc;
      margin: 0 13px; } }

@media (max-width: 430px) {
  .container-center h2 {
    font-size: 12px; } }

@media (max-width: 430px) {
  .container-center p {
    font-size: 10px;
    text-align: justify; } }

@media (max-width: 430px) {
  .container-center .content-1 img {
    margin-top: 15px; } }

.container-center .content-2 {
  margin-top: -70px; }
  @media (max-width: 430px) {
    .container-center .content-2 {
      align-items: center; } }

.container-school {
  padding: 17px;
  background-color: #b0d7ff; }

.container-school > h4 {
  font-size: 24px; }
  @media (max-width: 430px) {
    .container-school > h4 {
      font-size: 18px; } }

.content-box.des p {
  font-size: 20px; }
  @media (max-width: 430px) {
    .content-box.des p {
      font-size: 10px;
      text-align: justify; } }

.image-stack {
  width: 530px;
  height: 500px;
  margin-left: 24px;
  align-items: center; }
  @media (max-width: 430px) {
    .image-stack {
      width: 275px;
      margin-left: 5px;
      align-items: start;
      height: auto; } }

.image-stack img {
  max-width: 80%;
  max-height: 60%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease; }
  @media (max-width: 430px) {
    .image-stack img {
      max-width: 40%; } }

.image-stack div img {
  max-width: 90%;
  max-height: 90%;
  margin: 20px; }
  @media (max-width: 430px) {
    .image-stack div img {
      margin: 5px; } }

.image-stack img:hover {
  transform: scale(1.55); }

.container-school .content-box {
  width: 62pc; }
  @media (max-width: 430px) {
    .container-school .content-box {
      width: 100%; } }

.container-school .box-2 img {
  width: 35pc; }
  @media (max-width: 430px) {
    .container-school .box-2 img {
      width: 9pc; } }

.container-school .container-body {
  align-items: center;
  justify-content: center; }
  @media (max-width: 430px) {
    .container-school .container-body {
      flex-direction: column;
      margin-top: 24px; } }

.container-school .container-body .content-box {
  width: 40pc;
  margin-right: 24px; }
  @media (max-width: 430px) {
    .container-school .container-body .content-box {
      width: auto;
      margin-right: 0; } }

@media (max-width: 430px) {
  .container-school .container-body h4 {
    font-size: 13px; } }

@media (max-width: 430px) {
  .container-school .container-body p {
    font-size: 12px;
    text-align: justify; } }

@media (max-width: 430px) {
  .container-school .container-body ul {
    font-size: 10px;
    text-align: justify;
    padding-left: 16px; } }

.container-end {
  background-color: #faf1e2; }
  @media (max-width: 430px) {
    .container-end {
      padding: 0 1pc; } }

@media (max-width: 430px) {
  .container-end h4 {
    font-size: 14px; } }

@media (max-width: 430px) {
  .container-end p {
    font-size: 10px;
    text-align: justify; } }

.container-end img {
  width: 31pc;
  border-radius: 12px; }
  @media (max-width: 430px) {
    .container-end img {
      width: 10pc; } }

.container-end .content-box {
  width: 40pc;
  margin-right: 10pc; }
  @media (max-width: 430px) {
    .container-end .content-box {
      margin-right: 20px; } }

.container-end img,
.container-end .content-box {
  margin-top: 5pc;
  margin-bottom: 5pc; }
  @media (max-width: 430px) {
    .container-end img,
    .container-end .content-box {
      margin-top: 2pc;
      margin-bottom: 4pc; } }

@media (max-width: 430px) {
  #modal-login-btn {
    font-size: 8px;
    text-align: justify;
    padding: 5px;
    margin-bottom: 2pc; } }

@media (max-width: 430px) {
  .modal-container {
    padding: 0 40px; } }

.login-form {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  min-height: 250px; }

::placeholder {
  color: #777;
  font-size: 1.063rem; }

.link {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px; }

.link .login {
  border: none;
  outline: none;
  cursor: pointer;
  background: #1877f2;
  padding: 15px 0;
  border-radius: 6px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  transition: 0.2s ease; }

.link .login:hover {
  background: #0d65d9; }

.login-form a {
  text-decoration: none; }

.link .forgot {
  color: #1877f2;
  font-size: 0.875rem; }

.link .forgot:hover {
  text-decoration: underline; }

hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 20px;
  margin-top: 20px; }

.tabs {
  display: flex;
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc; }

.tab {
  flex: 1;
  padding: 10px;
  cursor: pointer;
  background: #e4e6eb;
  border-radius: 5px 5px 0 0;
  text-align: center; }

.tab.active {
  background: #1877f2;
  color: white; }

.form-container {
  display: none;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between; }

.form-container.active {
  display: flex; }

.form-group {
  margin: 10px 0; }

.register-form {
  margin-bottom: 10px; }

button.form {
  width: 100%;
  padding: 10px;
  background: #1877f2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto; }

button.form:hover {
  background: #459cf8; }

.modal-header,
.modal-bodyy,
.modal-footer {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2); }

#glass.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; }

@keyframes brul {
  from {
    backdrop-filter: blur(0); }
  to {
    backdrop-filter: blur(10px); } }
