.user-name {
  margin: 0;
  font-weight: 600; }

img.profile-img-user {
  width: 12pc;
  height: 12pc; }

.info-sub p {
  font-size: 18px; }

.profile-user {
  align-self: center;
  padding-bottom: 2pc; }

.profile-dad-name label {
  font-weight: 600; }

.card-body-profile {
  width: 80%; }
