.school-info-detail {
  position: absolute;
  top: 25px;
  left: 16px;
  width: 97%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto; }

.school-info-detail img {
  width: 100%;
  height: 89%; }

#master {
  background-color: #29a9ef; }
  @media (max-width: 430px) {
    #master {
      padding: 14px; } }

.box-radius {
  background-color: #ffffff;
  border-radius: 18px;
  padding: 25px;
  margin-top: 20px; }
