.card-body.ps-0 {
  font-size: 11px; }

.dash-height {
  height: 26px;
  width: 1px;
  background-color: #ccc; }

.sort-box #sort-title {
  background-color: #8dfff5;
  padding: 10px;
  padding-left: 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.sort-box .list-sort {
  list-style: none; }

.sort-box .list-sort > li:not(.active) {
  padding: 10px;
  padding-left: 25px;
  background-color: aliceblue;
  opacity: 1;
  transition: all 0.8s ease; }

.list-sort .title i {
  opacity: 0;
  transition: all 0.5s ease; }

.list-sort .title i.ms-1 {
  opacity: 1;
  transition: all 0.5s ease; }

.type-sort:hover,
.sort-box .list-sort > li.title:hover {
  background-color: #e3e7ea;
  cursor: pointer; }

.sort-box .list-sort li.active,
.sort-box .list-sort li.active ul {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease; }

.sub-li-type:not(.title) ul {
  list-style: none; }

#sort-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s ease; }

#sort-content.active {
  opacity: 1;
  max-height: 100%;
  transition: all 0.5s ease; }

.sort-box {
  width: 12pc;
  text-align: start; }

.dropdown-menu.show {
  position: absolute;
  top: -2px;
  left: -90px;
  margin: 0px;
  transform: translate3d(-108px, 0px, 0px); }

.dropdown-menu li {
  text-align: center;
  padding: 10px; }

.dropdown-menu li a:hover,
.dropdown-menu li:hover {
  background-color: #ccc; }

.save-doc-icon {
  color: #b6b6b6; }

.save-doc-icon.saved {
  color: #eae502; }

.save-doc-icon:hover {
  color: #cacaca;
  cursor: pointer; }

.save-doc-icon.saved:hover {
  color: #e1dd08;
  cursor: pointer; }

#container-submitted {
  height: 45pc;
  overflow-y: scroll; }
