<head>
    <title>Đăng Ký Tổ Hợp | Liên Hệ</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/school.css">
    <link rel="stylesheet" href="/css/combination.css">
    <link rel="stylesheet" href="/css/contact.css">
</head>

<div id="master">
    <div class="school-info">
        <img class="school-banner" src="https://res.cloudinary.com/dwoymvppw/image/upload/v1743963405/school_banner_second_nbdpyd.png">
        <div class="banner-container">
            <img class="school-banner-second" src="https://res.cloudinary.com/dwoymvppw/image/upload/v1743963404/school_banner_first_ezzd1f.png">
            <div class="school-info-detail fs-5">
                <img src="https://i.postimg.cc/fyNszfCN/bannertrencung.gif" alt="">
            </div>
        </div>
    </div>
    <div class="box-radius shadow">
        <div class="card-body p-0">
            <div class="content" style="display: none;">
                <h4 class="mb-4 text-center mb-4">Thông tin ban tuyển dụng trường THPT Duy Tân</h4>
                <div class="contact-teacher d-flex align-items-center flex-column my-4">
                    <div class="card mb-3 mt-4" style="width: 80%;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://i.postimg.cc/L5kG3dPS/463262217-1078496457073499-406486418262894798-n.jpg" class="img-fluid rounded-start" alt="..." style="max-width: 58%;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <div class="card-title d-flex">
                                        <p class="mb-0 me-2">Thầy</p>
                                        <h5 class="card-title">Nguyên Văn A</h5>
                                    </div>
                                    <div class="d-flex mb-4">
                                        <p class="mb-0 me-2">Chức vụ: <b>Bí thư đoàn, Hiệu trưởng nhà trường</b></p>
                                    </div>
                                    <p>Thông tin liên hệ:</p>
                                    <div class="contact-box">
                                        <p>Số điện thoại: <b>0366377888</b></p>
                                        <p>Email: <b>nguyenvana20@gmail.com</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3 mt-4" style="width: 80%;">
                        <div class="row g-0">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <div class="card-title d-flex">
                                        <p class="mb-0 me-2">cô</p>
                                        <h5 class="card-title">Trần Văn B</h5>
                                    </div>
                                    <div class="d-flex mb-4">
                                        <p class="mb-0 me-2">Chức vụ: <b>Phó bí thư đoàn nhà trường</b></p>
                                    </div>
                                    <p>Thông tin liên hệ:</p>
                                    <div class="contact-box">
                                        <p>Số điện thoại: <b>0366377888</b></p>
                                        <p>Email: <b>tranvanbh20@gmail.com</b></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 d-flex justify-content-end">
                                <img src="https://i.postimg.cc/L5kG3dPS/463262217-1078496457073499-406486418262894798-n.jpg" class="img-fluid rounded-end" alt="..." style="max-width: 58%;">
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3 mt-4" style="width: 80%;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://i.postimg.cc/L5kG3dPS/463262217-1078496457073499-406486418262894798-n.jpg" class="img-fluid rounded-start" alt="..." style="max-width: 58%;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <div class="card-title d-flex">
                                        <p class="mb-0 me-2">Thầy</p>
                                        <h5 class="card-title">Phan Thanh C</h5>
                                    </div>
                                    <div class="d-flex mb-4">
                                        <p class="mb-0 me-2">Chức vụ: <b>Phó hiệu trưởng nhà trường</b></p>
                                    </div>
                                    <p>Thông tin liên hệ:</p>
                                    <div class="contact-box">
                                        <p>Số điện thoại: <b>0366377888</b></p>
                                        <p>Email: <b>phanthanhc30@gmail.com</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="loading-full" class="position-fixed" style="display: flex;">
    <div class="d-flex align-items-center flex-column">
        <h2 style="font-family: 'Lexend', sans-serif;color:#29a9ef;">Đang tải dữ liệu...</h2>
        <div class="spinner-border mt-4" style="width: 3rem; height: 3rem;color:#29a9ef;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<script>
    var sideBar = document.getElementById('sidebar');
    const master = document.getElementById('master');
    window.addEventListener('load', function () {
        document.getElementById('loading-full').style.display = 'none';
        document.querySelector('.content').style.display = 'block';
        sideBar.style.height = master.parentElement.clientHeight;
        master.style.height = master.parentElement.clientHeight;
    });

    const litSidebars = Array.from(document.querySelectorAll('#sidebar .box'));
    litSidebars.pop();

    litSidebars.forEach((li) => {
        if(li.getAttribute('value') === 'Liên hệ') {
            li.parentElement.classList.add('active');
        } else {
            li.parentElement.classList.remove('active');
        }
        li.parentElement.onclick = () => {
        li.parentElement.classList.add('active')
        litSidebars.forEach((liCheckClassActive) => {
            if(liCheckClassActive !== li) {
            liCheckClassActive.parentElement.classList.remove('active');
            }
        })
        }
    })
</script>