<head>
    <title>Đăng Ký Tổ Hợp | Liên hệ</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/school.css">
    <link rel="stylesheet" href="/css/combination.css">
</head>

<div id="master" class="col .col-md-9 p-0">
    <div class="school-info d-flex">
        <img class="school-banner" src="https://res.cloudinary.com/dwoymvppw/image/upload/v1743963405/school_banner_second_nbdpyd.png">
        <div class="banner-container">
            <img class="school-banner-second" src="https://res.cloudinary.com/dwoymvppw/image/upload/v1743963404/school_banner_first_ezzd1f.png">
            <div class="school-info-detail fs-5">
                <img src="https://i.postimg.cc/fyNszfCN/bannertrencung.gif" alt="">
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="content" style="display: none;">
            <h4 class="my-4 text-center mb-4">Thông tin ban giám hiệu nhà trường THPT Duy Tân</h4>
            <div class="contact-teacher d-flex align-items-center flex-column m-4">
                <div class="card mb-3 mt-4" style="width: 80%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://res.cloudinary.com/dwoymvppw/image/upload/c_crop,ar_3:4/v1749008779/hieutruong-avatar_p0wfyk.png" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="card-title d-flex">
                                    <p class="mb-0 me-2">Thầy</p>
                                    <h5 class="card-title">Lê Minh Thơ</h5>
                                </div>
                                <div class="d-flex mb-4">
                                    <p class="mb-0 me-2">Chức vụ: <b>Bí thư đoàn, Hiệu trưởng nhà trường</b></p>
                                </div>
                                <p>Thông tin liên hệ:</p>
                                <div class="contact-box">
                                    <p>Số điện thoại: <b>0366377888</b></p>
                                    <p>Email: <b>leminhtho20@gmail.com</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3 mt-4" style="width: 80%;">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="card-title d-flex">
                                    <p class="mb-0 me-2">Thầy</p>
                                    <h5 class="card-title">Trần Bá Lĩnh</h5>
                                </div>
                                <div class="d-flex mb-4">
                                    <p class="mb-0 me-2">Chức vụ: <b>Phó bí thư đoàn nhà trường</b></p>
                                </div>
                                <p>Thông tin liên hệ:</p>
                                <div class="contact-box">
                                    <p>Số điện thoại: <b>0366377888</b></p>
                                    <p>Email: <b>tranbalinh20@gmail.com</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="https://res.cloudinary.com/dwoymvppw/image/upload/c_crop,ar_3:4/v1749008779/bithudoan_avatar_mfybv4.png" class="img-fluid rounded-end" alt="...">
                        </div>
                    </div>
                </div>

                <div class="card mb-3 mt-4" style="width: 80%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://res.cloudinary.com/dwoymvppw/image/upload/c_crop,ar_3:4/v1749008779/phohieutruong_avatar_mdcjqs.png" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="card-title d-flex">
                                    <p class="mb-0 me-2">Thầy</p>
                                    <h5 class="card-title">Trần Quốc Bảo</h5>
                                </div>
                                <div class="d-flex mb-4">
                                    <p class="mb-0 me-2">Chức vụ: <b>Phó hiệu trưởng nhà trường</b></p>
                                </div>
                                <p>Thông tin liên hệ:</p>
                                <div class="contact-box">
                                    <p>Số điện thoại: <b>0366377888</b></p>
                                    <p>Email: <b>tranquocbao30@gmail.com</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="loading-full" class="position-fixed" style="display: flex;">
    <div class="d-flex align-items-center flex-column">
        <h2 style="font-family: 'Lexend', sans-serif;color:#29a9ef;">Đang tải dữ liệu...</h2>
        <div class="spinner-border mt-4" style="width: 3rem; height: 3rem;color:#29a9ef;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<script>
  window.addEventListener('load', function () {
    document.getElementById('loading-full').style.display = 'none';
    document.querySelector('.content').style.display = 'block';
  });

  const litSidebars = Array.from(document.querySelectorAll('#sidebar .box'));
  litSidebars.pop();

  litSidebars.forEach((li) => {
    if(li.getAttribute('value') === 'Liên hệ') {
        li.parentElement.classList.add('active');
    } else {
        li.parentElement.classList.remove('active');
    }
    li.parentElement.onclick = () => {
      li.parentElement.classList.add('active')
      litSidebars.forEach((liCheckClassActive) => {
        if(liCheckClassActive !== li) {
          liCheckClassActive.parentElement.classList.remove('active');
        }
      })
    }
  })
</script>