<head>
    <title>Đăng Ký Tổ Hợp | Trường Học</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/school.css">
    <link rel="stylesheet" href="/css/combination.css">
    <link rel="stylesheet" href="/css/schoolDetail.css">
</head>

<div id="master" style="height: 100%;">
    <div class="school-info">
        <img class="school-banner" src="https://res.cloudinary.com/dwoymvppw/image/upload/v1743963405/school_banner_second_nbdpyd.png">
        <div class="banner-container">
            <img class="school-banner-second" src="https://res.cloudinary.com/dwoymvppw/image/upload/v1743963404/school_banner_first_ezzd1f.png">
            <div class="school-info-detail fs-5">
                <img src="https://i.postimg.cc/fyNszfCN/bannertrencung.gif" alt="">
            </div>
        </div>
    </div>
    <div class="box-radius shadow">
        <div class="card-body p-0">
            <div class="content" style="display: none;">
                <h4 class="card-title">Trường Trung học Phổ thông Duy Tân</h4>
                <div class="content-box">
                    <p>
                        Trường Trung học Phổ thông (THPT) Duy Tân là một cơ sở giáo dục công lập tọa lạc tại thôn Ngọc Mỹ, xã Tam Phú, thành phố Tam Kỳ, tỉnh Quảng Nam. 
                        Được thành lập vào năm 2010 theo Quyết định số 1119/QĐ-UBND của UBND tỉnh Quảng Nam, trường nhằm tạo điều kiện thuận lợi cho việc học tập của học sinh vùng Đông của thành phố Tam Kỳ.
                    </p>
                    <p>
                        Trong những năm đầu hoạt động, trường chưa có cơ sở riêng và phải mượn cơ sở cũ của Trường THCS Lý Thường Kiệt tại thôn Phú Thạnh để tổ chức dạy học. 
                        Đến tháng 8 năm 2016, trường mới chuyển về cơ sở mới tại thôn Ngọc Mỹ, xã Tam Phú.
                    </p>
                    <p>
                        Trải qua 15 năm phát triển, Trường THPT Duy Tân đã mở rộng quy mô đáng kể. 
                        Năm học 2024–2025, trường có 32 lớp với 1.256 học sinh và đội ngũ gần 80 cán bộ, giáo viên. 
                        Địa bàn tuyển sinh của trường bao gồm các xã phường như Tam Phú, An Phú, Tam Thanh, Tam Thăng (TP. Tam Kỳ), và mở rộng đến các xã Tam Tiến (huyện Núi Thành) và Bình Nam (huyện Thăng Bình).
                    </p>
                    <div class="img-box d-flex align-items-center mt-4">
                        <img class="first rounded-3" src="https://res.cloudinary.com/dwoymvppw/image/upload/v1749179562/BE_GIANG_DT_38_sjlsqx.jpg" alt="">
                        <img class="rounded-3" src="https://res.cloudinary.com/dwoymvppw/image/upload/v1749179568/BE_GIANG_DT_247_k6rm0i.jpg" alt="">
                    </div>
                    <p>
                        Trường THPT Duy Tân không chỉ chú trọng đến chất lượng giảng dạy mà còn tích cực tổ chức các hoạt động ngoại khóa, giáo dục đạo đức và kỹ năng sống cho học sinh. 
                        Nhà trường thường xuyên tổ chức các sự kiện như lễ kỷ niệm, hoạt động truyền thống và các chương trình văn hóa, thể thao nhằm tạo môi trường học tập toàn diện cho học sinh.
                    </p>
                    <p>
                        Với những nỗ lực không ngừng trong việc nâng cao chất lượng giáo dục và phát triển toàn diện cho học sinh, 
                        Trường THPT Duy Tân đã trở thành một trong những trường THPT có uy tín tại tỉnh Quảng Nam.
                    </p>
                </div>
                <div class="container-school">
                    <div class="container-body d-flex">
                        <div class="content-box">
                            <h4 class="fw-bold text-center">Thành tích nổi bật – Niềm tự hào của nhà trường</h4>
                            <p>
                                Năm học vừa qua, trường chúng tôi đã bồi dưỡng và đưa nhiều học sinh tham gia các kỳ thi học sinh giỏi cấp thành phố. 
                                Kết quả đạt được vô cùng ấn tượng:
                            </p>
                            <ul>
                                <li>Nhiều giải Nhất, Nhì, Ba, kk ở các môn Toán, Văn, Anh, Lý, Hóa, Địa...(01 giải Nhất; 02 giải Nhì, 08 giải Ba và 08 giải Khuyến khích)</li>
                                <li>Học sinh không chỉ giỏi kiến thức mà còn được rèn luyện tư duy và kỹ năng làm bài chuyên sâu.</li>
                                <li>Thành tích này là minh chứng rõ ràng cho chất lượng giảng dạy và sự đầu tư đúng hướng của nhà trường trong suốt thời gian qua.</li>
                            </ul>
                            </div>
                            <div class="image-stack d-flex">
                                <img src="https://res.cloudinary.com/dwoymvppw/image/upload/v1749117191/khenthuong2_hrmmg7.jpg" alt="Ảnh khen thưởng">
                                <div class="ms-2">
                                <img src="https://res.cloudinary.com/dwoymvppw/image/upload/v1749179322/9999_copy_cqmuuu.jpg" alt="Ảnh khen thưởng">
                                <img src="https://res.cloudinary.com/dwoymvppw/image/upload/v1749117191/khenthuong1_kjqr9m.jpg" alt="Ảnh khen thưởng">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loading-full" class="position-fixed" style="display: flex;">
    <div class="d-flex align-items-center flex-column">
        <h2 style="font-family: 'Lexend', sans-serif;color:#29a9ef;">Đang tải dữ liệu...</h2>
        <div class="spinner-border mt-4" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<script>
    window.addEventListener('load', function () {
        document.getElementById('loading-full').style.display = 'none';
        document.querySelector('.content').style.display = 'block';
    });

    const litSidebars = Array.from(document.querySelectorAll('#sidebar .box'));
    litSidebars.pop();

    litSidebars.forEach((li) => {
        if(li.getAttribute('value') === 'Trường học') {
            li.parentElement.classList.add('active');
        } else {
            li.parentElement.classList.remove('active');
        }
        li.parentElement.onclick = () => {
        li.parentElement.classList.add('active')
        litSidebars.forEach((liCheckClassActive) => {
            if(liCheckClassActive !== li) {
            liCheckClassActive.parentElement.classList.remove('active');
            }
        })
        }
  })
</script>