<head>
    <title>Đăng Ký Tổ Hợp | Đăng Ký Vào Trường THPT Duy Tân</title>
    <link rel="stylesheet" href="/css/school.css">
    <link rel="stylesheet" href="/css/combination.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" />
</head>

<div id="master">
    <div class="container">
        <div class="card mb-3 shadow">
            <div class="school-info d-flex">
                <img class="school-banner rounded-start" src="https://res.cloudinary.com/dwoymvppw/image/upload/v1743963405/school_banner_second_nbdpyd.png">
                
                <div class="banner-container rounded-end">
                    <img class="school-banner-second rounded-end" src="https://res.cloudinary.com/dwoymvppw/image/upload/v1743963404/school_banner_first_ezzd1f.png">
                    <div class="school-info-detail fs-5">
                        <img src="https://i.postimg.cc/fyNszfCN/bannertrencung.gif" alt="">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container">
                    <form class="well form-horizontal" action="/combination/submited" method="POST"  id="contact_form">
                    

                    <!-- Form Name -->
                    <legend class="text-center mb-4">Phiếu đăng ký thông tin vào lớp 10 - Trường THPT Duy Tân</legend>

                    <!-- Text input-->

                    <div class="col col-md-4 mb-3 d-flex align-items-start flex-column ps-0">
                        <label for=""><b>Chọn ảnh thẻ:</b></label>
                        <div class="row mb-3">
                            <div class="d-flex align-items-start flex-column">
                                <div class="imgBoderFake"><p>3x4</p></div>
                                <img id="resultImage" class="col col-md-2 ps-0" style="max-width:200px; display:none;">
                                    <input type="file" class="mt-3" id="inputImage" accept="image/*">
                                    <button id="recropBtn" class="mt-4 btn btn-primary" type="button" style="display:none;">Cắt lại</button>
                                
                            </div>
                            
                            <input id="inputHiddenImg" type="text" name="avatarLink" style="display: none;">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mb-3">
                            <div class="d-flex align-items-start flex-column">
                                <label for="inputName"><b>Họ và tên học sinh:</b></label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                                    <input id="inputName" type="text" class="form-control" placeholder="Họ và tên học sinh" aria-label="Họ và tên học sinh" name="fullName" aria-describedby="basic-addon1" style="text-transform: capitalize;">
                                </div>
                            </div>
                        </div>

                        <div class="col d-flex align-items-start flex-column">
                            <label for="inputName"><b>Giới tính:</b></label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-venus-mars"></i></span>
                                <select class="form-select" id="inputGroupSelect01" name="gender" aria-label="Default select example">
                                    <option selected value="">--Giới tính--</option>
                                    <option value="Nam">Nam</option>
                                    <option value="Nữ">Nữ</option>
                                </select>
                            </div>
                        </div>

                        <div class="col d-flex align-items-start flex-column">
                            <label for="inputGroupSelect01"><b>Dân tộc:</b></label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-person"></i></span>
                                <select class="form-select" id="inputGroupSelect01" name="nation" aria-label="Default select example">
                                    <option selected value="">--Dân tộc--</option>
                                    {{#each nations}}
                                        <option value="{{this.name}}">{{this.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col d-flex align-items-start flex-column">
                            <label for="inputName"><b>Ngày tháng năm sinh:</b></label>
                            <div class=" input-group form-group-datepicker mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-calendar-days"></i></span>
                                <input type="text" class="form-control" id="datepicker" class="login__input" name="dateOfBirth" rules="required" aria-describedby="basic-addon1" placeholder="Ngày tháng năm sinh">
                                <span class="form-message"></span>
                            </div>
                        </div>

                        <div class="col">
                                    <label for="inputName"><b>Nơi sinh:</b></label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-location-dot"></i></span>
                                    <input type="text" class="form-control" placeholder="Nơi sinh" name="placeOfBirth" aria-label="Nơi sinh" aria-describedby="basic-addon1" style="text-transform: capitalize;">
                                </div>
                            </div>
                    </div>

                        
                        <div class="row">
                            

                            <div class="col">
                                    <label for="inputName"><b>Nơi ở hiện tại:</b></label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-house"></i></span>
                                    <input type="text" class="form-control" placeholder="Nơi ở hiện tại" name="presentPlace" aria-label="Nơi ở hiện tại" aria-describedby="basic-addon1" style="text-transform: capitalize;">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col mb-3">
                                <div class="d-flex align-items-start flex-column">
                                    <label for="inputName"><b>Họ và tên cha:</b></label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                                        <input id="inputName" type="text" class="form-control" placeholder="Họ và tên cha" aria-label="Họ và tên học sinh" name="fullNameDad" aria-describedby="basic-addon1" style="text-transform: capitalize;">
                                    </div>
                                </div>
                            </div>

                            <div class="col d-flex align-items-start flex-column">
                                <label for="inputName"><b>Nghề nghiệp:</b></label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-suitcase"></i></span>
                                    <input id="inputName" type="text" class="form-control" placeholder="Nghề nghiệp" aria-label="Họ và tên học sinh" name="jobOfDad" aria-describedby="basic-addon1" style="text-transform: capitalize;">
                                </div>
                            </div>

                            <div class="col d-flex align-items-start flex-column">
                                <label for="inputGroupSelect01"><b>Số điện thoại:</b></label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-phone"></i></span>
                                    <input id="inputName" type="text" class="form-control" placeholder="Số điện thoại" aria-label="Họ và Tên học sinh" name="phoneNumberDad" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col mb-3">
                                <div class="d-flex align-items-start flex-column">
                                    <label for="inputName"><b>Họ và tên mẹ:</b></label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                                        <input id="inputName" type="text" class="form-control" placeholder="Họ và tên mẹ" aria-label="Họ và tên học sinh" name="fullNameDad" aria-describedby="basic-addon1" style="text-transform: capitalize;">
                                    </div>
                                </div>
                            </div>

                            <div class="col d-flex align-items-start flex-column">
                                <label for="inputName"><b>Nghề nghiệp:</b></label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-suitcase"></i></span>
                                    <input id="inputName" type="text" class="form-control" placeholder="Nghề nghiệp" aria-label="Họ và Tên học sinh" name="jobOfMon" aria-describedby="basic-addon1" style="text-transform: capitalize;">
                                </div>
                            </div>

                            <div class="col d-flex align-items-start flex-column">
                                <label for="inputGroupSelect01"><b>Số điện thoại:</b></label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-phone"></i></span>
                                    <input id="inputName" type="text" class="form-control" placeholder="Số điện thoại" aria-label="Họ và Tên học sinh" name="phoneNumberMom" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <label for="inputName"><b>Kết quả học tập và rèn luyện cấp THCS:</b></label>
                    <table border="1" cellspacing="0" cellpadding="3" class="table-points text-center table-bordered mb-3">
                    <tr>
                        <th rowspan="1">Lớp</th>
                        <th class="px-4">6</th>
                        <th class="px-4">7</th>
                        <th class="px-4">8</th>
                        <th class="px-4">9</th>
                        <th rowspan="2" class="px-3">Xếp loại tốt nghiệp THCS</th>
                        
                    </tr>
                    
                    <tr>
                        <td>Hạnh kiểm</td>
                        <td>
                            <select class="form-select" id="inputGroupSelect01" name="conduct6" aria-label="Default select example">
                                <option selected value="">Hạnh kiểm</option>
                                <option value="Tốt">Tốt</option>
                                <option value="Khá">Khá</option>
                                <option value="Yếu">Yếu</option>
                                <option value="Chưa Đạt">Chưa Đạt</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-select" id="inputGroupSelect01" name="conduct7" aria-label="Default select example">
                                <option selected value="">Hạnh kiểm</option>
                                <option value="Tốt">Tốt</option>
                                <option value="Khá">Khá</option>
                                <option value="Yếu">Yếu</option>
                                <option value="Chưa Đạt">Chưa Đạt</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-select" id="inputGroupSelect01" name="conduct8" aria-label="Default select example">
                                <option selected value="">Hạnh kiểm</option>
                                <option value="Tốt">Tốt</option>
                                <option value="Khá">Khá</option>
                                <option value="Yếu">Yếu</option>
                                <option value="Chưa Đạt">Chưa Đạt</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-select" id="inputGroupSelect01" name="conduct9" aria-label="Default select example">
                                <option selected value="">Hạnh kiểm</option>
                                <option value="Tốt">Tốt</option>
                                <option value="Khá">Khá</option>
                                <option value="Yếu">Yếu</option>
                                <option value="Chưa Đạt">Chưa Đạt</option>
                            </select>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>Học lực</td>
                        <td>
                            <select class="form-select" id="inputGroupSelect01" name="academicRating6" aria-label="Default select example">
                                <option selected value="">Học lực</option>
                                <option value="Tốt">Giỏi</option>
                                <option value="Khá">Khá</option>
                                <option value="Yếu">Trung bình</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-select" id="inputGroupSelect01" name="academicRating7" aria-label="Default select example">
                                <option selected value="">Học lực</option>
                                <option value="Tốt">Giỏi</option>
                                <option value="Khá">Khá</option>
                                <option value="Yếu">Trung bình</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-select" id="inputGroupSelect01" name="academicRating8" aria-label="Default select example">
                                <option selected value="">Học lực</option>
                                <option value="Tốt">Giỏi</option>
                                <option value="Khá">Khá</option>
                                <option value="Yếu">Trung bình</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-select" id="inputGroupSelect01" name="academicRating9" aria-label="Default select example">
                                <option selected value="">Học lực</option>
                                <option value="Tốt">Giỏi</option>
                                <option value="Khá">Khá</option>
                                <option value="Yếu">Trung bình</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-select" id="inputGroupSelect01" name="graduationRating" aria-label="Default select example">
                                <option selected value="">Xếp loại</option>
                                <option value="Tốt">Giỏi</option>
                                <option value="Khá">Khá</option>
                                <option value="Yếu">Trung Bình</option>
                            </select>
                        </td>
                    </tr>
                    </table>

                    <label for="inputName"><b>Điểm số trung bình các môn học rèn luyện cấp THCS:</b></label>
                    <table border="1" cellspacing="0" cellpadding="3" class="table-points text-center table-bordered mb-3">
                        <tr>
                            <th colspan="8" class="px-3">Điểm trung bình môn cả năm lớp 9</th>
                        </tr>
                        <tbody>
                            <td class="px-3"><b>Văn</b></td>
                            <td class="px-3"><b>Toán</b></td>
                            <td class="px-3"><b>Ngoại ngữ</b></td>
                            <td class="px-3"><b>Vật lý</b></td>
                            <td class="px-3"><b>Hóa học</b></td>
                            <td class="px-3"><b>Sinh</b></td>
                            <td class="px-3"><b>Sử</b></td>
                            <td class="px-3"><b>Địa</b></td>
                        </tbody>
                        <tbody>
                            <td>
                                <input type="number" step="0.1" min="0" max="10" name="avgLiteratureScore" placeholder="Văn">
                            </td>
                            <td>
                                <input type="number" step="0.1" min="0" max="10" name="avgMathScore" placeholder="Toán">
                            </td>
                            <td>
                                <input type="number" step="0.1" min="0" max="10" name="avgEnglishScore" placeholder="Ngoại Ngữ">
                            </td>
                            <td>
                                <input type="number" step="0.1" min="0" max="10" name="avgPhysicsScore" placeholder="Vật Lý">
                            </td>
                            <td>
                                <input type="number" step="0.1" min="0" max="10" name="avgChemistryScore" placeholder="Hoá Học">
                            </td>
                            <td>
                                <input type="number" step="0.1" min="0" max="10" name="avgBiologyScore" placeholder="Sinh">
                            </td>
                            <td>
                                <input type="number" step="0.1" min="0" max="10" name="avgHistoryScore" placeholder="Sử">
                            </td>
                            <td>
                                <input type="number" step="0.1" min="0" max="10" name="avgGeographyScore" placeholder="Địa">
                            </td>
                        </tbody>
                    </table>

                    </form>
                </div>     
            </div>
        </div>
    </div>
    
</div>

<div id="cropperContainer" style="display:none; position:fixed; inset:0; background:#000a; z-index:9999; justify-content:center; align-items:center;">
    <img id="preview" style="max-height:90vh;" />
    <button id="cropBtn" type="button" style="position:absolute; bottom:20px;">Cắt ảnh</button>
</div>



<!-- Modal -->
<div class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: none;"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><h1 class="modal-title fs-5" id="exampleModalLiveLabel">Thông Báo</h1><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div><div class="modal-body"><p>Bạn có chắn muốn đăng ký nhập họp với thông tin vừa rồi, hảy đảm bảo đúng thông tin!</p></div><div class="modal-footer"><button type="button" id="btnClose" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button><button type="button" id="btnRegister" class="btn btn-primary">Đăng ký</button></div></div></div></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="/uploadImageToCloudinary.js" defer></script>

{{!-- chưa add validat --}}

<script>
    $.fn.datepicker.dates['vi'] = {
        days: ["Chủ Nhật", "Thứ Hai", "Thứ Ba", "Thứ Tư", "Thứ Năm", "Thứ Sáu", "Thứ Bảy"],
        daysShort: ["CN", "T2", "T3", "T4", "T5", "T6", "T7"],
        daysMin: ["CN", "T2", "T3", "T4", "T5", "T6", "T7"],
        months: ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6", "Tháng 7", "Tháng 8", "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12"],
        monthsShort: ["Th1", "Th2", "Th3", "Th4", "Th5", "Th6", "Th7", "Th8", "Th9", "Th10", "Th11", "Th12"],
        today: "Hôm nay",
        clear: "Xóa",
        format: "dd/mm/yyyy",
        titleFormat: "MM yyyy", 
        weekStart: 1
    };

    $('#datepicker').datepicker({
        format: 'dd/mm/yyyy',  
        language: 'vi',         
        autoclose: true       
    });

    $("#datepicker").change((e) => {
        if(e.target.value === "") {
            e.target.style.border = "1px solid red";
        } else {
            e.target.style.border = "1px solid #dee2e6";
            $(".form-group-datepicker .form-message").get(0).innerHTML = "";
        }
    });

    const btnSubjects = document.querySelectorAll(".accordion-button");
    for(var btnSubject of btnSubjects) {
        btnSubject.onclick = (e) => {
            for(var btn of btnSubjects) {
                const content = btn.parentElement.parentElement.querySelector("#collapseOne");
                btn.classList.add("collapsed");
                content.classList.remove("show");
            }
            const content = e.target.parentElement.parentElement.querySelector("#collapseOne");
            if(e.target.getAttribute("aria-expanded") === "false") {
                e.target.setAttribute("aria-expanded", "true");
                e.target.classList.remove("collapsed");
                content.classList.add("show");
            } else {
                e.target.setAttribute("aria-expanded", "false");
                e.target.classList.add("collapsed");
                content.classList.remove("show");
            }
        }
    }

    const form = document.getElementById("contact_form");
    const btnSubmit = document.getElementById("btnSubmitCombination");
    const modalLive = document.getElementById("exampleModalLive");
    const btnRegister = modalLive.querySelector("#btnRegister");
    const btnClose = modalLive.querySelector("#btnClose");
    const iconClose = modalLive.querySelector(".btn-close");
    const inputHiddenImg = document.getElementById("inputHiddenImg");
    btnSubmit.onclick = () => {
        modalLive.style.display = "block";
        btnClose.onclick = () => modalLive.style.display = "none";
        iconClose.onclick = () => modalLive.style.display = "none";
        btnRegister.onclick = async () => {
            await uploadImageToCloudinary(inputHiddenImg.value, "avatars").then((imageUrl) => {
                inputHiddenImg.value = imageUrl;
            })
            form.submit();
        };
    }
    
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>

<script>
    const inputImage = document.getElementById('inputImage');
    const preview = document.getElementById('preview');
    const cropBtn = document.getElementById('cropBtn');
    const resultImage = document.getElementById('resultImage');
    const cropperContainer = document.getElementById('cropperContainer');
    const imgBoderFake = document.getElementsByClassName("imgBoderFake")[0];
    
    let cropper;

    const recropBtn = document.getElementById('recropBtn');
    let lastImageURL = ''; // để lưu lại ảnh gốc đã chọn

    inputImage.addEventListener('change', function () {
        const file = this.files[0];
        if (file) {
            lastImageURL = URL.createObjectURL(file);
            showCropper(lastImageURL);
        }
    });

    cropBtn.addEventListener('click', function () {
        const canvas = cropper.getCroppedCanvas({ width: 300, height: 400 });
        const dataUrl = canvas.toDataURL('image/jpeg');
        inputHiddenImg.value = dataUrl;

        resultImage.src = dataUrl;
        imgBoderFake.style.display = 'none';
        resultImage.style.display = 'block';
        recropBtn.style.display = 'inline-block';

        cropper.destroy();
        cropper = null;
        cropperContainer.style.display = 'none';
    });

    recropBtn.addEventListener('click', function () {
    showCropper(lastImageURL);
    });

    function showCropper(imageUrl) {
        preview.src = imageUrl;
        cropperContainer.style.display = 'flex';

        preview.onload = function () {
            if (cropper) cropper.destroy();
            cropper = new Cropper(preview, {
                aspectRatio: 3 / 4,
                viewMode: 1,
                dragMode: 'move',
                cropBoxResizable: false,
                cropBoxMovable: false,
                movable: true,
                zoomable: true,
                ready() {
                    cropper.setCropBoxData({ width: 300, height: 400 });
                }
            });
        };
    }
  </script>